body {
  /*font-family: Arial, sans-serif;*/
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}

.container {
  width: 98%;
  max-width: 2200px;
  margin: 0px auto;
  padding: 1px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  text-align: center;
}

h2, h3 {
  text-align: center;
  color: white;    
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  background-color: maroon;
  border-radius: 16px;
  border:2px solid maroon;
  margin-bottom: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 5px;
}

table th, table td {
  /*border: 1px solid #ddd;
  padding: 5px;
  text-align: center;*/
  border: 1px solid gray;
  text-align: center;
  padding: 3px;
}

table th {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

button {
  /*margin: 5px;
  padding: 10px 15px;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 3px;*/
  margin-right: 10px;
  padding: 10px 15px;
  border: none;
  background-color: maroon;
  color: white;
  cursor: pointer;
  border-radius: 16px;
  margin-bottom: 0px;
}

button:hover {
  background-color: rgb(173, 58, 58);
}

#box1, #box2 {
  margin-bottom: 10px;
  text-align: left;
}

/*th[contenteditable="true"], td[contenteditable="true"] {
  background-color: #fffbcc;
}

table th:nth-child(2), table td:nth-child(2), 
table th:last-child, table td:last-child {
  background-color: #ffeeba;
  font-weight: bold;
}*/
.instructions {
  text-align: center;    
  margin-bottom: 0px;
  color: black;
  font-size: 0.8em;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(185, 92, 92);
  border:4px solid rgb(185, 92, 92);
  /*font-weight: bold;
  background-color: red;
  border:8px solid red;*/
}

tbody tr:nth-child(odd) {
  background-color: rgb(238, 223, 223);
  font-size: 0.8em;
  font-weight: bold;
}
tbody tr:nth-child(even) {
  background-color: rgb(232, 255, 184);
  font-size: 0.8em;
  font-weight: bold;
}
